@import "bourbon/bourbon";
@import "neat/neat";
//---------------------Variables--------------------//
$white: #ffffff;
$red : #e74c3c;
$green: #66c492;
$gray_grid: #d5d5d5;
$title: #636363;
$stitle: #9d9ab1;
$brandonbold : 'brandon_grotesquebold';
$brandon : 'brandon_grotesque_regularRg';

//____________________Global Styles-----------------//

body {
    font-family: $brandon;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.button {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .5rem 3.25rem;
    font-weight: 100;
    font-size: 29px;
    font-family: $brandonbold;
    color: $white;
    text-decoration: none;
    background: $green;
}

p {
    width: 655px;
    font-size: 37px;
    color: $stitle;
    font-weight: 100;
}

h2 {
    font-family: $brandonbold;
    font-size: 52px;
    color: $title;
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
}

//---------------------Banner Styles-----------------------//
#banner {
    background-color: $red;
    background-image: url(../img/hamlet_design.png);
    background-repeat: no-repeat;
    background-size: auto;
    header {
        padding: 2rem 0;
    }
    #logo {
        color: $white;
        font-weight: 700;
        font-size: 1.35rem;
        float: left;
        margin: 0;
    }
    nav {
        float: right;
        a {
            color: $white;
            font-weight: 700;
            text-decoration: none;
            margin-left: 2rem;
            font-size: 1.35rem;
        }
    }
    .content {
        padding: 12.5rem 0 13.5rem 0;
        width: 800px;
        float: right;
        .title, .sub_title, .button_wrapper {
            color: $white;
            text-align: center;
            font-family: brandon_grotesque_regularRg;
            line-height: 1;
            .button {
                font-size: 36px;
                box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.14);
            }
        }
        .title {
            font-size: 79px;
            font-weight: 100;
            font-weight: lighter;
            margin: 0;
        }
        .sub_title {
            font-weight: 100;
            font-size: 36px
        }
        .button_wrapper {
            margin: 3rem 0;
        }
    }

    strong {
        font-family: brandon_grotesquebold;
        font-weight: 200;
    }
}

.cf::before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear:both;
}

//-------------Body Styles----------------//
#body {
    border-bottom: 4px solid $gray_grid;
    .rapper, .rapper_text {
        @include span-columns(6);
        @include pad();
    }
    .rapper_text {
        padding-top: 213px;
    }
    .rapper {
        border-right: 4px solid $gray_grid;
    }
}

//---------Footer Styles------------------//
#footer {
    background-color: $red;
    height: 100px;
    width: 100%;
    padding: 0;
    p {
        text-align: center;
        line-height: 100px;
        padding: 0;
        margin: 0;
        color: $gray_grid;
        //font-family: $brandonbold;
        font-size: 21px;
        font-weight: bolder;
        g {
            color: $green;
        }
    }
}
